/* General Styles */
.gist-container {
  margin: 20px;
}
.gist-heading {
  font-family: initial;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  color: #3d3d3d;
}

.view-toggle {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.view-toggle button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.view-toggle button.active {
  background-color: #003b44;
  color: white;
  border-radius: 5px;
}

/* List View Styles */
.gist-table {
  width: 100%;
  border-collapse: collapse;
}

.gist-table th,
.gist-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.gist-table th {
  background-color: #f2f2f2;
}

.table-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* Keyword Button */
.keyword-button {
  padding: 5px 10px;
  background: #003b44;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Grid View Styles */
.gist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
